.clase1 {
	position: absolute;
	top: 107px;
	left: 55px;
	width: 500px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:left;
	letter-spacing:1px;
}
.clase2 {
	position: absolute;
	top: 125px;
	left: 433px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:left;
	letter-spacing:3px;
}
.clase3 {
	position: absolute;
	top: 125px;
	left: 470px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	letter-spacing:3px;
}
.clase4 {
	position: absolute;
	top: 125px;
	left: 505px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	letter-spacing:3px;
}
.clase5 {
	position: absolute;
	top: 125px;
	left: 55px;
	width: 500px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	letter-spacing:0px;
}
.clase6 {
	position: absolute;
	top: 125px;
	left: 337px;
	width: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	letter-spacing:1px;
}
.clase7 {
	position: absolute;
	top: 168px;
	left: 55px;
	width: 500px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	letter-spacing:3px;
}
.clase8 {
	position: absolute;
	top: 167px;
	left: 425px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:8px;
}
.clase9 {
	position: absolute;
	top: 167px;
	left: 465px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:4px;
}
.clase10 {
	position: absolute;
	top: 312px;
	left: 465px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:4px;
}
.clase11 {
	position: absolute;
	top: 245px;
	left: 55px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:4px;
}
