.clase1 {
	position: absolute;
	top: 98px;
	left: 103px;
	width: 320px;
	height: 80px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:left;
	letter-spacing:1px;
}
.clase2 {
	position: absolute;
	top: 105px;
	left: 450px;
	width: 47px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:left;
	letter-spacing:3px;
}
.clase3 {
	position: absolute;
	top: 105px;
	left: 490px;
	width: 47px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	letter-spacing:3px;
}
.clase4 {
	position: absolute;
	top: 105px;
	left: 530px;
	width: 47px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	letter-spacing:3px;
}
.clase5 {
	position: absolute;
	top: 129px;
	left: 103px;
	width: 320px;
	height: 80px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	letter-spacing:1px;
}
.clase6 {
	position: absolute;
	top: 128px;
	left: 470px;
	width: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	letter-spacing:3px;
}
.clase7 {
	position: absolute;
	top: 168px;
	left: 103px;
	width: 500px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	letter-spacing:3px;
}
.clase8 {
	position: absolute;
	top: 167px;
	left: 465px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:8px;
}
.clase9 {
	position: absolute;
	top: 167px;
	left: 505px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:2px;
}
.clase10 {
	position: absolute;
	top: 305px;
	left: 505px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:2px;
}
.clase11 {
	position: absolute;
	top: 242px;
	left: 103px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:4px;
}
