@charset "utf-8";
/* CSS Document */

body{
	background: #F8F8F8;
}

.content{
	position:absolute;
	height:150px;
	width:100%;
	alignment-adjust:central;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:15%;
}