@charset "utf-8";
/* CSS Document */

body{
	background: #EFEFEF;
}

.content{
	position:absolute;
	width:100%;
	alignment-adjust:central;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulos{
	color:#666;
	font-size:18px;
	font-family:Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
}

.separar{
	margin-top:35px;
	margin-bottom:35px;
}

.check{
	width:25px;
	height:25px;
	background-color: #25A4EE;
	border: solid 1px red;
    border-width: 0 3px 3px 0;
	cursor: pointer;
}
.success{
	padding: 5px;
	border-radius: 10px;
	background: green;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.error{
	padding: 5px;
	border-radius: 10px;
	background: red;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.footer{
	position:fixed;
   	left:0px;
   	bottom:0px;
   	height:30px;
   	width:100%;
   	/*background:#999;*/
}
