.clase1 {
	position: absolute;
	top: 75px;
	left: 35px;
	width: 500px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:left;
	letter-spacing:1px;
}
.clase2 {
	position: absolute;
	top: 70px;
	left: 365px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:3px;
}
.clase3 {
	position: absolute;
	top: 70px;
	left: 415px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	letter-spacing:3px;
}
.clase4 {
	position: absolute;
	top: 70px;
	left: 463px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	letter-spacing:3px;
}
.clase5 {
	position: absolute;
	top: 97px;
	left: 35px;
	width: 500px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	letter-spacing:1px;
}
.clase6 {
	position: absolute;
	top: 92px;
	left: 392px;
	width: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	letter-spacing:3px;
}
.clase7 {
	position: absolute;
	top: 136px;
	left: 35px;
	width: 500px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	letter-spacing:3px;
}
.clase8 {
	position: absolute;
	top: 135px;
	left: 375px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:8px;
}
.clase9 {
	position: absolute;
	top: 135px;
	left: 425px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:4px;
}
.clase10 {
	position: absolute;
	top: 280px;
	left: 425px;
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:4px;
}
.clase11{
	position: absolute;
	top: 280px;
	left: 125px;
	width: 500px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align:left;
	letter-spacing:1px;
}
